## Pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv("../classwork/data/neu/admission_rate.csv")
data

   Year  Admission Rate (Total)  Admission Rate (Men)  Admission Rate (Women)
0  2013                   32.31                 31.76                   32.77
1  2014                   32.22                 32.08                   32.34
2  2015                   28.48                 28.98                   28.04
3  2016                   28.88                 29.13                   28.66
4  2017                   27.44                 27.15                   27.69
5  2018                   19.34                 18.93                   19.68
6  2019                   18.05                 18.35                   17.80
7  2020                   20.48                 20.81                   20.19
8  2021                   18.00                 16.00                   20.00

In [4]:
# Rows
len(data)

9

In [5]:
# Columns
data.shape[1]

4

In [6]:
# Tuple of rows and columns
data.shape

(9, 4)

In [7]:
data.loc[3]

Year                      2016.00
Admission Rate (Total)      28.88
Admission Rate (Men)        29.13
Admission Rate (Women)      28.66
Name: 3, dtype: float64

In [8]:
type(data.loc[3])

pandas.core.series.Series

In [9]:
data["Admission Rate (Total)"]

0    32.31
1    32.22
2    28.48
3    28.88
4    27.44
5    19.34
6    18.05
7    20.48
8    18.00
Name: Admission Rate (Total), dtype: float64

In [10]:
data.drop("Admission Rate (Men)", axis=1)

   Year  Admission Rate (Total)  Admission Rate (Women)
0  2013                   32.31                   32.77
1  2014                   32.22                   32.34
2  2015                   28.48                   28.04
3  2016                   28.88                   28.66
4  2017                   27.44                   27.69
5  2018                   19.34                   19.68
6  2019                   18.05                   17.80
7  2020                   20.48                   20.19
8  2021                   18.00                   20.00

In [11]:
d_data = pd.read_csv("../classwork/data/neu/demographics.csv")
d_data

,Year,American Indian or Native American,Asian,Black,Hispanic,Native Hawaiian or Other Pacific Islander,White,Two or More Races
0,2013,15,"1,600",632,"1,066",3,"8,831",534
1,2014,10,"1,753",624,"1,103",7,"8,828",597
2,2015,13,"1,903",646,"1,116",5,"8,568",595
3,2016,13,"1,994",660,"1,160",4,"8,218",647
4,2017,9,"2,163",644,"1,296",2,"8,397",668
5,2018,8,"2,279",712,"1,402",4,"8,271",705
6,2019,9,"2,452",750,"1,501",5,"8,367",796
7,2020,8,"3,103",834,"1,670",1,"8,961",948
8,2021,12,"3,713","1,236","2,180",3,"9,705","1,132"

In [12]:
d_data.shape

(9, 8)

In [13]:
new = data.merge(d_data, on='Year')
new

,Year,Admission Rate (Total),Admission Rate (Men),Admission Rate (Women),American Indian or Native American,Asian,Black,Hispanic,Native Hawaiian or Other Pacific Islander,White,Two or More Races
0,2013,32.31,31.76,32.77,15,"1,600",632,"1,066",3,"8,831",534
1,2014,32.22,32.08,32.34,10,"1,753",624,"1,103",7,"8,828",597
2,2015,28.48,28.98,28.04,13,"1,903",646,"1,116",5,"8,568",595
3,2016,28.88,29.13,28.66,13,"1,994",660,"1,160",4,"8,218",647
4,2017,27.44,27.15,27.69,9,"2,163",644,"1,296",2,"8,397",668
5,2018,19.34,18.93,19.68,8,"2,279",712,"1,402",4,"8,271",705
6,2019,18.05,18.35,17.80,9,"2,452",750,"1,501",5,"8,367",796
7,2020,20.48,20.81,20.19,8,"3,103",834,"1,670",1,"8,961",948
8,2021,18.00,16.00,20.00,12,"3,713","1,236","2,180",3,"9,705","1,132"

In [14]:
new.shape

(9, 11)